<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.napontadolapis.reniercosta" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DespesaCadastroActivity"
            android:label="Despesas cadastro" >
        </activity>
        <activity
            android:name=".activity.DespesaEdicaoActivity"
            android:label="Despesas cadastro" >
        </activity>
        <activity
            android:name=".activity.CategoriaEdicaoActivity"
            android:label="Despesas cadastro" >
        </activity>
        <activity
            android:name=".activity.CategoriaCadastroActivity"
            android:label="Despesas cadastro" >
        </activity>
        <activity
            android:name=".activity.ReceitaCadastroActivity"
            android:label="Despesas cadastro" >
        </activity>
        <activity
            android:name=".activity.ReceitaEdicaoActivity"
            android:label="Despesas cadastro" >
        </activity>
    </application>

</manifest>
